{% extends "/dashboard/template/dashboard_template.html" %}
{% block tile %}W6CBR - Add QSO{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col" align="center">
            <h5 style="color: red">W6CBR HamLog - Add QSO</h5>
        </div>
        <div class="col">
        </div>
    </div>
        <div class="row">
        <div class="col">
        </div>
        <div class="col" align="center">
        </div>
        <div class="col">
        </div>
    </div>
</div>
<script src="{{  url_for('static', filename='js/app.js')  }}"></script>
{% endblock %}