{% extends "/dashboard/template/dashboard_template.html" %}
{% block main %}
<div class="content-section" xmlns="http://www.w3.org/1999/html">
    <h2>{{ contact.callsign }}</h2>
    {% if current_user.is_authenticated %}
    <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_contact', contact_id=contact.id) }}">Update</a>
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
    </div>
    {% endif %}
    Signal Sent: {{ contact.signal_sent }}</br>
    Signal Received: {{ contact.signal_received }}</br>
    Custom Sent: {{ contact.custom_sent }}</br>
    Custom Received: {{ contact.custom_received }}</br>
    Frequency: {{ contact.frequency_used }}</br>
    UTC Date: {{ contact.qso_date }}</br>
</div>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete post?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('delete_contact', contact_id=contact.id) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
