{% extends "/public/template/public_template.html" %}
{% block tile %}W6CBR - QSO{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col" align="center">
            <h5 style="color: blue">W6CBR HamLog - QSO List</h5>
        </div>
        <div class="col">
        </div>
    </div>
        <div class="row">
        <div class="col">
        </div>
        <div class="col" align="center">
            <iframe align="top" frameborder="0" height="500" scrolling="yes" src="https://logbook.qrz.com/lbstat/W6CBR/" width="640"></iframe>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<script src="{{  url_for('static', filename='js/app.js')  }}"></script>
{% endblock %}
